*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
}
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}
button {
  cursor: pointer;
  background-color: inherit;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #ffffff;
  background: #000;
}
/* ================================================================ */
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
/* ==================================================================== */
[class*="__container"] {
  max-width: 73rem;
  margin: 0 auto;
  padding: 0rem 1rem;
}
/* ==================================================================== */
.btn_text {
  color: #000;
  font-size: 1rem;
  line-height: 1.25; /* 20/16 */
}
.text-menu {
  font-size: 0.9375rem;
  line-height: 1.43;
}
.text-main {
  font-size: 0.875rem;
  line-height: 1.42;
}
.text-name {
  font-size: 2.5rem;
  line-height: 1.05;
}
.btn-main {
  border-radius: 0.875rem;
  background: #fff;

  display: flex;
  align-items: center;
  max-width: max-content;
}
.btn-main img {
  max-width: 100%;
  height: auto;
  padding: 0.31rem 0.38rem 0.31rem 0.25rem;
}
.btn-main p {
  padding-right: 0.31rem;
}

/* ==================================================================== */
.header {
}
.header__container {
  display: flex;
  padding: 1.25rem 1.25rem 1.25rem 2rem;
  justify-content: space-between;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__logo:hover {
  cursor: pointer;
}
.logo__link {
}
.header__menu {
  display: flex;
  gap: 2rem;
}
.menu__list {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.nemu__link {
}
.nemu__link {
  transition: all 0.9s ease;
}
.nemu__link:hover {
  text-decoration: underline;
}
.menu__btn {
  background-color: #ffffff;
  padding: 0.8rem 1.25rem;
  border-radius: 0.875rem;
  transition: all 0.3s ease;
}
.menu__btn:hover {
  background-color: #ffffffc5;
}
.menu__bar {
  display: flex;
}
.icon-menu {
  display: block;
}
@media (max-width: 978.98px) {
  .icon-menu {
    width: 4rem;
    position: relative;
    display: block;
    z-index: 5;
    flex: 0 0 2.5rem;
  }

  .icon-menu:before,
  .icon-menu:after,
  .icon-menu span {
    background: #fff;
    content: "";
    display: block;
    height: 0.3rem;
    margin: 0.5rem 0;
    transition: all 0.3s ease 0s;
  }
  .menu-open .icon-menu span {
    transform: scale(0);
  }
  .menu-open .icon-menu::before {
    transform: translateY(1rem) rotate(135deg);
  }
  .menu-open .icon-menu::after {
    transform: translateY(-1rem) rotate(-135deg);
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu__bar {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    left: -100%;
    top: 0;
    padding: 10rem 1rem 2rem 1rem;
    overflow: auto;
    transition: left 0.3s ease 0s;
    display: block;
  }
  .menu__bar::before {
    content: "";
    width: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 10;
    transition: left 0.3s ease 0s;
  }
  .menu-open .menu__bar,
  .menu-open .menu__bar::before {
    left: 0;
  }
  .menu__list {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    column-gap: 46rem;
    font-size: 2rem;
  }
  .nemu__link {
    display: block;
    width: 100%;
  }
}

/* ==================================================================== */
.home {
  position: relative;
  z-index: 2;
  padding-bottom: 0.5rem;
}
.home__img {
}
.home__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.home__titile {
  font-size: 3.375rem;
  line-height: 1.1;
  padding-bottom: 1.12rem;
}

.text-main:first-child {
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.text-main:last-child {
  color: #c0c0c0;
}
.details {
  position: absolute;
  bottom: 20%;
  right: 5%;
  display: flex;
  gap: 1rem;
}
.details__item {
  display: flex;
  gap: 0.4rem;
  font-size: 0.75rem;
}
.details__img {
}
.details__text {
}
.hidden {
  display: none;
}
@media (max-width: 978.98px) {
  .details {
    flex-direction: column;
  }
  .text-main:first-child {
    color: #fff;
  }
}
@media (max-width: 695.98px) {
  .home__container {
    transform: translate(0%, 0%);
    top: 5%;
    left: 0;
  }
  .details {
    flex-direction: row;
    bottom: 5%;
  }
}
/* ==================================================================== */
.work {
  padding-bottom: 6.25rem;
  position: relative;
}
.work__container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.work__name {
  text-align: center;
  padding-bottom: 1rem;
}
.work__descriptoin {
  color: #c0c0c0;
  text-align: center;
  font-size: 1.4375rem;
  line-height: 1.3;
}
.work__list {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1rem;
}
.work__card {
  position: relative;
  overflow: hidden;
}
.work__img {
  max-width: 100%;
  height: auto;
}

.card__description {
  position: absolute;
  bottom: 0;
  padding: 0rem 2rem 1.87rem 1.88rem;
}
.card__title {
  letter-spacing: 0.125rem;
  padding-bottom: 1.06rem;
}
.card__text {
  color: #c0c0c0;
  padding-bottom: 0.63rem;
}
@media (max-width: 767.98px) {
  .work__list {
    justify-items: center;
    grid-template-columns: 100%;
  }
  .work {
    padding-bottom: 3.25rem;
  }
}
/* ==================================================================== */
.use__one {
  position: relative;
  z-index: 2;
}
.main__img {
  display: block;
  width: 100%;
  height: auto;
}
.main__text {
  position: absolute;
  top: 50%;
  right: 3.75rem;
  max-width: 19rem;
}
.img-main .details {
  bottom: 10%;
}

@media (max-width: 978.98px) {
  .img-main .details {
    flex-direction: row;
  }
}
@media (max-width: 695.98px) {
  .main__text {
    top: 30%;
  }
}

.use__thee {
  position: relative;
  z-index: 2;
}

.use__three {
  display: flex;
}
.three__text {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10%;
}
.three__text .text-main:first-child {
  color: #c0c0c0;
  padding-bottom: 0.38rem;
}
.three__text .text-main:not(:first-of-type) {
  padding-bottom: 1.25rem;
}
.three__text h3 {
  font-size: 1.75rem;
  line-height: 1.14;
  padding-bottom: 0.88rem;
}
.three__btn {
  /* padding-top: 1.25rem; */
}
.three__img {
  flex: 0 0 50%;
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}
.three__img .details {
  bottom: 10%;
}
@media (max-width: 978.98px) {
  .three__img .details {
    flex-direction: row;
  }
}
@media (max-width: 695.98px) {
  .three__img .details {
    flex-direction: column;
  }
}
/* ==================================================================== */
.clients {
  padding-top: 7rem;
}
.clients__container {
  text-align: center;
}
.clients__tittle {
  padding-bottom: 0.94rem;
}
.clients__text {
  color: #c0c0c0;
  font-size: 1.5rem;
  line-height: 1.25;
  padding-bottom: 2.63rem;
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  column-gap: 6.81rem;
  row-gap: 2rem;
  padding: 1.5rem 1.88rem;
}
.clients__item {
}

/* ==================================================================== */
.use__four {
  position: relative;
  z-index: 2;
}
.four {
  padding-top: 6.26rem;
}
/* ==================================================================== */
.help__container {
  padding-top: 7.06rem;
  text-align: center;
  padding-bottom: 6.75rem;
}

.help__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help__desc {
  color: #c0c0c0;
  font-size: 1.5rem;
  line-height: 1.25;
  padding-top: 0.94rem;
  padding-bottom: 1.37rem;
}

.help__btn {
}
/* ==================================================================== */
.footer {
}
.footer__container {
}
.fotter__header {
  display: grid;
  grid-template-columns: minmax(auto, 60%) auto auto;
  gap: 16px;
  padding-bottom: 2.25rem;
}
.footer__column {
  display: flex;
  flex-direction: column;
  gap: 0.62rem;
}
.footer__text {
  color: #c0c0c0;
  font-size: 0.8125rem;
  line-height: 1.53;
}
.main-footer__lable {
  color: #c0c0c0;
}
.main-footer__menu {
}
.menu-footer {
}
.menu-footer__list {
  display: flex;
  flex-direction: column;
  gap: 0.62rem;
}
.menu-footer__item {
}
.menu-footer__link {
  font-size: 0.8125rem;
  line-height: 1.53;
}
.item {
}
.line {
  border-bottom: 0.01rem solid #fff;
}

@media (max-width: 695.98px) {
  .fotter__header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "column1 column1" "column2 column3";
  }

  .footer__header:nth-child(1) {
    grid-column: span 2;
  }

  .footer__column:nth-child(2) {
    grid-area: column2;
    /* text-align: end; */
  }

  .footer__column:nth-child(3) {
    grid-area: column3;
  }
}
.footer__bottom {
  display: flex;
  padding-bottom: 6.5rem;
}
.bottom__text {
  color: #c0c0c0;
  font-size: 0.875rem;
  line-height: 1.42;
}
.text-main {
}
.main-footer__social {
}
.social__link {
}
.social__hover {
}
