*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
}
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}
button {
  cursor: pointer;
  background-color: inherit;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #546285;
}
/* =================================== */
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
/* =================================== */
[class*="__container"] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0px 15px;
}

/* =================================== */
.title {
  color: #35b8be;
  font-size: 3.12rem; /* 50/16 */
  line-height: 1.1; /* 55/50 */
  letter-spacing: 0.03; /* 1.65/50 */
}
.name {
  color: #08090a;
  font-size: 1.25rem; /* 20/16 */
  line-height: 1.1; /* 22/20 */
  letter-spacing: 0.03; /* 0.66/22 */
}
.description {
  font-size: 1.12rem; /* 18/16 */
  line-height: 1.5; /* 27/18 */
  letter-spacing: 0.02; /* 0.36/18 */
}
.color-blue {
  color: #35b8be;
}
.color-black {
  color: #08090a;
}
/* =================================== */
.header__string {
  background: #35b8be;
  min-height: 7vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 5px 0;
  font-size: 0.87em; /* 14/16*/
  /* line-height: 1.42; 20/14 */
}
.header__p {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}
.header__order {
  color: #fff;
}
.header__order:hover {
  color: rgba(255, 255, 255, 0.8);
}
.menu__right {
  display: flex;
  align-items: center;
  gap: 30px;
}
.nav {
  padding-top: 50px;
  padding-bottom: 20px;
}
.nav__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.icon-menu {
  display: block;
}

.nav__logo {
  position: relative;
  z-index: 2;
}
.menu__bar {
}
.nav__menu {
  display: flex;
  gap: 32px;
}
.header__menu-link {
  display: block;
}

.menu__item {
  color: #28224b;
  font-size: 15px;
  line-height: 1.33; /* 20/15 */
}

.menu__item:hover {
  color: #35b8be;
}

.memu__cart {
  z-index: 2;
  position: relative;
}

.cart__back {
}

.cart__shop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cart__count {
  color: #35b8be;
  font-size: 13px;

  border-radius: 50%;
  background: #fff;
  box-shadow: 7px 7px 25px 0px rgba(126, 130, 143, 0.27);

  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: -15%;
  right: -15%;
}

@media (max-width: 767.98px) {
  .icon-menu {
    width: 50px;
    position: relative;
    display: block;
    z-index: 5;
    flex: 0 0 30px;
  }

  .icon-menu:before,
  .icon-menu:after,
  .icon-menu span {
    background: #35b8be;
    content: "";
    display: block;
    height: 6px;
    /* border-radius: 3px; */
    margin: 7px 0;
    transition: all 0.3s ease 0s;
  }

  .menu-open .icon-menu span {
    /* width: 0; */
    transform: scale(0);
  }
  .menu-open .icon-menu::before {
    /* transform: rotate(-45deg);
    top: calc(50% - 1px); */
    transform: translateY(12px) rotate(135deg);
  }
  .menu-open .icon-menu::after {
    /* transform: rotate(45deg);
    bottom: calc(50% - 1px); */
    transform: translateY(-12px) rotate(-135deg);
  }

  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu__bar {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.419);
    left: -100%;
    top: 0;
    padding: 200px 15px 30px 15px;
    overflow: auto;
    transition: left 0.3s ease 0s;
  }
  .menu__bar::before {
    content: "";
    width: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    /* height: 100px; */
    /* background-color: #0d0d11; */
    z-index: 10;
    transition: left 0.3s ease 0s;
  }
  .nav__menu {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    row-gap: 10px;
  }
  .menu__item {
    color: #fff;
    font-size: 1.5rem;
  }
  .menu-open .menu__bar,
  .menu-open .menu__bar::before {
    left: 0;
  }
}

/* =================================== */
.home {
  position: relative;
}
.home-products {
  position: relative;
}
.bg-img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bg-img img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.home__container {
  display: flex;
  flex-wrap: wrap;
  z-index: 2;
  padding-top: 140px;
  padding-bottom: 140px;
}
.home-products__container {
  display: flex;
  flex-wrap: wrap;
  z-index: 2;
  padding-top: 100px;
  padding-bottom: 140px;
}
.home__description {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
}
.home__title {
  color: #08090a;
  font-size: 60px;
  line-height: 60px; /* 100% */
  letter-spacing: 1.8px;
  margin-bottom: 27px;
}
.home__text {
  margin-bottom: 53px;
}
.home__order {
  margin-bottom: 30px;
}
.btn {
  display: inline-block;
  text-decoration: none;
  border: none;
  cursor: pointer;
  overflow: hidden;
}
.btn:hover {
  opacity: 0.9;
}
.btn img {
  width: 100%;
  height: auto;
  display: block;
  vertical-align: middle;
}
.btn p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 17px;
  line-height: 20px;
  white-space: nowrap;
}
.btn__content {
  position: relative;
  display: flex;
  align-items: center;
}
.home__trust {
  padding-bottom: 10px;
}
.home__trust img {
  max-width: 100%;
  height: auto;
}
.home__raiting {
}
.home__img {
  flex: 0 1 50%;
}
.home__img img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 991.98px) {
  .home__text {
    padding-bottom: 15px;
  }
  .home__container {
    flex-direction: column;
  }
  .home-products__container {
    flex-direction: column;
  }
  .home__bottom {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
  }
  .home__order {
    margin-bottom: 0px;
  }
  .home__trust {
    margin-bottom: 0px;
  }
  .home__img {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 560px) {
  .home__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

/* ================================================================= */

.how {
  padding-top: 134px;
  padding-bottom: 127px;
}
.how__container {
  display: flex;
  flex-direction: column;
  gap: 65px;
  flex-wrap: wrap;
}
.how__title {
  text-align: center;
}
.how__block {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  /* gap: 65px; */
  /* flex: 0 1 50%; */
}
.block {
}
.block__cart {
}
.block__img {
  padding-bottom: 48px;
}
.block__img {
  max-width: 100%;
}
.block__title {
  text-align: center;

  padding-bottom: 15px;
}
.block__descrip {
  text-align: center;
}

.horizontal-line {
  border-top: 1.3px solid #d1cdcd;
  margin-top: 150px;
  width: 100px;
}

/* ================================================================= */

.menu {
  position: relative;
}
.menu__container {
  padding-top: 140px;
  padding-bottom: 140px;
}
.menu__header {
  text-align: center;
}
.menu__title {
  margin-bottom: 26px;
}
.menu__description {
  margin-bottom: 50px;
}
.menu__btn {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 40px;
}

.white-btn {
  padding: 16px 30px;
  border-radius: 6px;
  border: 1px solid rgba(97, 114, 131, 0.2);
  transition: all 0.3s ease 0s;
  color: #222;
}
.white-btn:hover {
  background-color: #35b8be;
}
.menu__list {
  gap: 20px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.menu__cart {
  border-radius: 2%;
  border: 1px solid rgba(53, 184, 190, 0.15);

  background: #fff;
  display: block;
  padding: 35px 26px 26px 26px;

  display: flex;
  gap: 30px;
}
.cart {
}
.cart__img {
}
.cart__righ {
  display: flex;
  gap: 8px;
}
.cart__description {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.cart__title {
  display: flex;
  justify-content: space-between;
}
.cart__name {
  color: #08090a;
  font-size: 18px;
  line-height: 20px; /* 111.111% */
  letter-spacing: 0.6px;
}
.cart__price {
  color: #35b8be;
  font-size: 15px;
  line-height: 20px; /* 133.333% */
}
.cart__text {
  color: #546285;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;

  padding-bottom: 8px;
}
.cart__btn {
  display: flex;
  gap: 8px;
}
.button__count {
  border-radius: 6px;
  border: 1px solid #ddd;
  background: #fafafa;
  padding: 10px 26px;

  color: #000;
}
.button__add {
  border-radius: 6px;
  background: #35b8be;
  padding: 10px;

  color: #000;
}
.menu__learn {
  text-align: center;
  margin-top: 65px;
}

/* ============================================================ */

.home-faq {
}
.home-faq__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  z-index: 2;

  padding-top: 120px;
  padding-bottom: 120px;
}
.faq__title {
  margin-bottom: 29px;
}
@media (max-width: 991.98px) {
  .home-faq__container {
    flex-direction: column;
  }
}

.home-call {
  position: relative;
}
.home-call__container {
  display: flex;
  flex-wrap: wrap;
  z-index: 2;
  padding-top: 120px;
  padding-bottom: 120px;
}
.call__title {
  margin-bottom: 29px;
}
@media (max-width: 991.98px) {
  .home-faq__container {
    flex-direction: column;
  }
}

.home-support__container {
  display: flex;
  gap: 22px;
  flex-direction: row-reverse;
  z-index: 2;
  padding-top: 120px;
  padding-bottom: 43px;
}
.support-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 82px;
}
.support {
  display: flex;
  flex: 1 1 50%;

  position: relative;
}
.support__title {
  margin-bottom: 52px;
  color: #fff;
}
.support__order {
  display: inline;
  padding: 16px 30px;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid rgba(97, 114, 131, 0.2);
  transition: all 0.3s ease 0s;
  color: #35b8be;
}

/* ======================================== */

.footer {
  position: relative;
}
.bg-img {
}
.footer__main__container {
  padding-top: 100px;
  padding-bottom: 100px;
}
.main-footer {
  display: grid;
  grid-template-columns: minmax(auto, 50%) auto auto auto;
  gap: 16px;
}
.footer__column {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.main-footer__text {
  line-height: 1.8; /* 180% */
}
.text {
}
.main-footer__lable {
  color: #08090a;
  text-transform: uppercase;
}
.main-footer__menu {
}
.menu-footer {
}
.menu-footer__list {
  display: flex;

  flex-direction: column;
  gap: 28px;
}
.menu-footer__item {
}
.menu-footer__link {
  line-height: 1.33;
}
.menu-footer__link:hover {
  text-decoration: underline;
}
.footer__bottom__container {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 100px;
}
.main-bottom__text {
  display: flex;
  gap: 10px;
}
.webflow:hover {
  text-decoration: underline;
}
.flowbase:hover {
  text-decoration: underline;
}
.main-footer__social {
}
.social__link {
}
.social__hover {
  transition: all ease 0.3s;
}
.footer__bottom__container a:hover .social__hover {
  background-color: #35b7be6d;
  border-radius: 50%;
  cursor: pointer;
}
@media (max-width: 1100px) {
  .main-footer__container {
    gap: 45px;
    grid-template-columns: minmax(auto, 378px) auto auto;
  }
  .footer__column:nth-child(1) {
    grid-column: span 4;
  }
}

@media (max-width: 767.98px) {
  .main-footer__column:nth-child(1) {
    grid-column: span 2;
  }
}
