*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
}
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}
button {
  cursor: pointer;
  background-color: inherit;
}

body {
  font-family: "Mulish", sans-serif;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  color: #555;
}
/* =================================== */
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
/* =================================== */
[class*="__container"] {
  max-width: 80.4vw;
  /* max-width: 14.4vw; */
  margin: 0 auto;
  padding: 0px 15px;
}
/* =================================== */
.main__container {
  flex: 1 1 auto;
}
/* =================================== */
.header__page {
  background: #7ac751;
}
.header__container {
}
.header__top {
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.header__right {
  padding: 16px 0px;
}
.header__left {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.header__lang {
  display: flex;
  gap: 8px;
}
.lang-header {
}
.lang-header__name {
}
.lang-header__select {
  display: flex;
  max-width: 100%;
}
.lang-header__select:hover {
}
.lang-header__img {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.lang-header__img:hover {
  transform: rotate(180deg);
}
.header__login {
}
.header__login:hover {
  text-decoration: underline;
}

@media (max-width: 698.98px) {
  .header__top {
    flex-direction: column;
    height: auto;
    padding-bottom: 16px;
  }
}
/* ==== */
.header__bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 25px;
  column-gap: 3vw;
  row-gap: 3vw;
}
.header__logo {
  display: flex;
  gap: 5px;
  align-items: center;
}
.logo {
}
.logo__img {
  max-width: 100%;
}
.logo__name {
}
.header__search {
}
.search {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.search__input {
  border-radius: 8px;
  border: 2px solid #7ac751;
  width: 100%;
  height: 46px;
  font-size: 14px;
  color: #b0b0b0;
  padding-left: 25px;
  /* position: relative; */
}
.search__menu {
  position: absolute;
  /* right: 600px; */
  right: 0;
  display: flex;
  border-left: 1.5px solid rgba(227, 227, 227, 0.78);
}
.search__categories {
  display: flex;
  align-items: center;
}
.search__categories__name {
  font-size: 14px;
  padding: 0px 13px;
}
.search__categories__select {
  display: flex;
  max-width: 100%;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}
.search__categories__select:hover {
  transform: rotate(180deg);
}
.search__icon {
  border-radius: 0px 7px 6px 0px;
  background: #7ac751;
  width: 55px;
  height: 43px;
  margin-left: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search__icon:hover {
  background: hsla(99, 51%, 55%, 0.692);
}
.header__account {
  display: flex;
  align-items: center;
  gap: 21px;
}
.account {
}
.account__shop {
  display: flex;
  position: relative;
}
.account__count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  color: #fff;
  font-size: 7px;
  border-radius: 50%;
  background: #7ac751;
  position: absolute;
  top: 0;
  right: -8px;
}
.account__notification {
}
.account__user {
}
.media {
  flex-direction: column;
  /* column-gap: 3vw; */
}
.media__form {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 998.98px) {
  .media {
    display: none;
  }
}
@media (max-width: 998.98px) {
  .nomedia {
    display: none;
  }
}
/* ======================== */
.home__header {
  /* background: #f7f8fa; */
}

.home__container {
  display: flex;
  gap: 11px;
}
.home__colection {
  display: flex;
  flex-direction: column;
  flex: 1 1 23%;
}
.home__all {
  background: #7ac751;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 25px 40px 25px 30px;
}
.home__all img {
}
.home__all p {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.32px;
  text-transform: uppercase;
}
.home__menu {
}
.menu__list {
  column-gap: 5.54vw;
  row-gap: 2vw;
  /* gap: 65px; */
  flex-wrap: wrap;
  background: #f7f8fa;
  display: flex;

  align-items: center;
  padding: 25px 40px 25px 30px;
}
.menu__item {
  text-transform: uppercase;
  font-size: 14px;
  opacity: 0.8;
}
/* === */
.home__categories {
  display: flex;
  flex-direction: column;
  flex: 1 1 79%;
  /* flex-wrap: wrap; */
}
.categories-home__list {
  background: #f7f8fa;
  flex: 1 1 23%;
}

.categories-home__items {
  display: flex;
  flex-direction: column;
  /* gap: 24px; */
}
.categories-home_item:not(:last-child) {
  border-bottom: 2px solid #e3e3e3;
  /* padding: 14px; */
}
.categories-home_item {
  font-size: 14px;
  letter-spacing: 0.28px;
  padding: 10px 0px 14px 29px;
}
.home__top {
  flex: 1 1 79%;
  display: flex;
  border-radius: 1px;
  background: linear-gradient(
    135deg,
    rgba(241, 250, 255, 0.88) 0%,
    #f1faff 100%
  );
  backdrop-filter: blur(77.5px);
  margin-top: 12px;
}
.top__text {
  margin-left: 47px;
  margin-top: 73px;
}
.top__text_1 {
  color: var(--main-color, #7ac751);
  font-size: 22px;
  line-height: 1.18; /* 26/22 */
  letter-spacing: 1.1px;
}
.top__text_1:not(:last-child) {
  margin-bottom: 6px;
}
.top__text_2 {
  color: #2f2f2f;
  font-size: 40px;
  font-weight: 500;
}
.top__text_2:not(:last-child) {
  margin-bottom: 29px;
}
.top__text_2_underline {
  position: relative;
}
.top__text_2_underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 6px;
  background: url("img/main/home/Screenshot from 2023-06-29 22-22-21.png");
  background-size: auto 100%;
}
.top__text_3 {
  color: rgba(81, 81, 81, 0.71);
  font-size: 27px;
  font-family: Mulish;
  font-weight: 600;
  line-height: 0.96; /* 26/27 */
}
.top__text_3:not(:last-child) {
  margin-bottom: 35px;
}
.top__text__btn {
  color: #fff;
  font-size: 16px;
  font-family: Mulish;
  font-weight: 700;
  border-radius: 8%;
  background: #7ac751;
  padding: 10px 18px;
  transition: all 0.3s ease 0s;
}
.top__big {
  margin-top: 36px;
}
.top__big img {
  max-width: 100%;
  /* transform: scale(1.0); */
}
.top__litle {
  margin-top: 58px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.litle {
  border-radius: 8px;
  border: 2px solid #fff;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0.56) 100%
  );
  box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0);
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
.top__litle_1 {
}
.top__litle__img {
}
.top__litle__prise p {
  color: var(--main-color, #7ac751);
  font-size: 7px;
  font-weight: 500;
  line-height: 3.71; /* 26/7 */
}
.top__litle__name p {
  color: var(--primary, #555);
  font-size: 7px;
  font-weight: 500;
  line-height: 3.71; /* 26/7 */
}
/* ======================================= */
.support__container {
  padding-top: 70px;
  padding-bottom: 70px;
}
.support {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 25px;
  row-gap: 25px;
}
@media (max-width: 767.98px) {
  .support {
    justify-content: space-around;
  }
}
.support:not(:last-child) {
}
.suppor__block {
  /* min-width: 218px; */
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
}
.support__img {
}
.support__text {
}
.support__mane {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3; /* 26/20 */
}
.support__decription {
  color: rgba(81, 81, 81, 0.71);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.85; /* 26/14 */
}
